<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 150, height: 150, crop: :thumb, radius: :max %>
      <% else %>
        <%= image_tag current_user.facebook_picture_url, :id => "picture_display" %>
      <% end %>
      <h1><%= @user.name.capitalize %></h1>
      <h2><%= @user.email %></h2>
      <p><%= @user.phone_number %></p>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#bio">
        <h3>Confirmed bookings</h3>
      </a>
      <a class="tab" data-target="#projects">
        <h3>Pending bookings</h3>
      </a>
      <a class="tab" data-target="#contact">
        <h3>Last bookings</h3>
      </a>
    </div>
  </div>
</div>


<div class="container">
  <div class="tab-content" id="bio">
    <div class="product">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, class: "product-image hidden-xs"%>
      <% end %>
      <div class='product-body'>
        <h3>Booking 1</h3>
        <p>Description du produit + prix + date + ...</p>
      </div>

      <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-trash"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content hidden" id="projects">
   <div class="product">
    <% if @user.photo? %>
            <%= cl_image_tag @user.photo.path, class: "product-image hidden-xs"%>
          <% end %>
     <div class='product-body'>
       <h3>Booking 2</h3>
       <p>Description du produit + prix + date + ...</p>
     </div>
     <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
       <li><a href=""><i class="fa fa-trash"></i></a></li>
     </ul>
   </div>
  </div>
  <div class="tab-content hidden" id="contact">
    <div class="product">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, class: "product-image hidden-xs"%>
      <% end %>
      <div class='product-body'>
        <h3>Booking 3</h3>
        <p>Description du produit + prix + date + ...</p>
      </div>
      <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-trash"></i></a></li>
      </ul>
    </div>
  </div>
</div>







