Assets list :
  <% @assets.each do |asset| %>
    <p><%= asset.title %></p>
    <p><%= asset.address %></p>
    <p><%= asset.city %></p>
    <p><%= asset.price %></p>
    <p><%= asset.description %></p>
    <p><%= asset.capacity %></p>
  <% end %>

