  <div class="form-wrapping col-xs-12">
    <br>
    <br>
    <div class="col-xs-10 col-offset-1 col-sm-6">
    <%= simple_form_for @product do |f| %>
      <%= f.input :title, placeholder: "Title" %>
      <%= f.input :address, placeholder: "Address" %>
      <%= f.input :city, placeholder: "City" %>
      <%= f.input :photos, as: :attachinary %>
    </div>
    <div class="col-xs-10 col-offset-1 col-sm-6">
      <%= f.input :description, placeholder: "Tell us a bit about your product" %>
      <%= f.input :capacity, placeholder: "How many people can you welcome?" %>
      <%= f.input :category, placeholder: "How would you define your place ?" %>
      <%= f.input :price, placeholder: "Price" %>
    </div>
      <%= f.submit "Add a Wild Place", class: "btn btn-success" %>
    <% end %>
    <br>
    <br>
    <br>
    <br>


  <%= content_for(:after_js) do %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAe4PVk38pNIO3t77HZnIT6f_8b_k30BCs"></script>
<% end %>
</div>
