<h1 class="text-center">Products list : </h1>
  <% @products.each do |product| %>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                   url('<%= cl_image_path product.photos.first.path, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category"><%= product.city %></div>
            <div class="card-description">
              <h2><%= product.title %></h2>
              <p><%= product.price %> EUROS</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <%= link_to "More details", product_path(product), :class => "btn btn-primary" %>
        <%= link_to "Edit your product", edit_product_path(product), :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>



