<h2><%= @product.title %></h2>
<p><%= @product.address %></p>
<p><%= @product.city %></p>
<p><%= @product.price %></p>
<p><%= @product.description %></p>
<p><%= @product.capacity %></p>
<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
